doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Decentracord
		meta(name='description', content='Decentracord - an app just like discord but living entirely on the IPFS network and the Ethereum blockchain')
		meta(name='author', content='lukas2005')
		link(rel='stylesheet', href='https://cdn.rawgit.com/tobiasahlin/SpinKit/c4df5a427132483006ca06d50df070e8fa6d7545/css/spinkit.css')
		link(rel='stylesheet', href='styles.css')
		!= "<!--[if lt IE 9]>"
		!= '<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>'
		!= "<![endif]-->"
	body
		p(id="loading-text") 
			= status
		#spinner.sk-wave
			.sk-rect.sk-rect1
			.sk-rect.sk-rect2
			.sk-rect.sk-rect3
			.sk-rect.sk-rect4
			.sk-rect.sk-rect5
			
		iframe(id="app", frameborder="0")
		script(src='src.js')
